kafka{
     topic = "kariz"
     consumer{
         "bootstrap.servers" = ["localhost:9092"]
         "group.id" = krz0413
         "enable.auto.commit"= false
        // "auto.offset.reset" = latest
         "auto.offset.reset" = earliest
         "max.poll.records" = 10000
         "session.timeout.ms" = 20000

     }
     producer{
         "bootstrap.servers" = ["localhost:9092"]
         "acks" = "1"
         "compression.type" = lz4
         "batch.size" = 102400
         "client.id" = ali
         "linger.ms" = 100
         "delivery.timeout.ms" = 50000
         "max.block.ms" = 4000
         "request.timeout.ms" = 30000
     }
}

kariz2 {
     port = 36379
    forcedTtl = -1
    ip = 0.0.0.0
    threads = 8
}

redis{
   host = localhost
   port = 6379
   database = 0
   password = ""
   feederNum = 6
   timeout = 800
}

router = "https://router/"

jetty{
    ip = 0.0.0.0
    port = 4040
    threadNumMin = 7
    threadNumMax = 32
}

check.url.rateLimit = 500000
check.tag.rateLimit = 1
check.usr.rateLimit = 1
